<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cyprom.PokemonMasterTrainer.Data.Properties.Settings.GameDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\GameDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>