<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cyprom.PokemonMasterTrainer.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cyprom.PokemonMasterTrainer.Business.Properties.Settings>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BoardBackground" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScreenLock" serializeAs="String">
                <value>False</value>
            </setting>
        </Cyprom.PokemonMasterTrainer.Business.Properties.Settings>
    </userSettings>
</configuration>